.skin-blue .main-header .logo {
    background-color: #DD4B39 !important;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    border-left-color: #DD4B39;
}

.skin-blue .main-header .navbar {
    background-color: #e36a5b;
}

.admin-sub-options {
    padding: 15px 0;
    display: inline-block;
}

.fa-pencil, .fa-trash {
    cursor: pointer;
}

.fa-trash {
    color: #DD4B39;
}

.success {
    color: #008D4C;
}

.success:hover {
    color: #00a65a;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.disabled:hover {
    opacity: 0.5;
}