h2 {
    margin: 0;
    padding: 0;
    font-size: 23px;
    text-align: center;
}

.skin-blue .main-header .logo {
    background-color: #DD4B39 !important;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    border-left-color: #DD4B39;
}

.skin-blue .main-header .navbar {
    background-color: #e36a5b;
}

.admin-sub-options {
    padding: 15px 0;
    display: inline-block;
}

.fa-pencil, .fa-trash {
    cursor: pointer;
}

.fa-trash {
    color: #DD4B39;
}

.success {
    color: #008D4C;
}

.success:hover {
    color: #00a65a;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed !important;
}

.disabled:hover {
    opacity: 0.5;
}

hr {
    background-color: slategray;
    height: 2px;
    border: 0;
    margin: 0;
}

.another-lang {
    border-top: 1px solid black;
    display: inline-block;
}

.cancelLang {
    color: #d90b0b;
    font-size: 30px;
    position: absolute;
    right: 15px;
    cursor: pointer;

}
