@media screen and (max-width: 768px) {
    button {
        display: block !important;
        margin: 10px 0 !important;
    }
    #content {
        padding: 0 !important;
        padding-top: 20px !important;
        padding-left: 5px !important;
    }
}

h2, h3 {
    text-align: center;
}

#fileInput {
    display: none;
}

#kocka {
    width: auto;
    height: 50%;
/ / margin: auto;
    float: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

#editor {
    width: auto;
    height: 30%;
/ / float: left;
    margin: auto;
    margin-bottom: 10px;
    float: bottom;
}

#content {
    position: relative;
    float: left;
    width: 100% !important;
    margin: 0px 0px 60px 0px;
    padding: 22px 22px 22px 22px;
    border: 1px solid black;
    border-radius: 11px;
    height: auto;

}

.radioB {

    display: inline;
    margin-left: 20px;
}

#manualDiv {
    position: absolute;
/ / float: left;
    top: 0%;
    right: 5%;

}

.manualDivs {
    float: left;
}

.manual {
    position: absolute;
    width: 640px;
    height: auto;
    display: none;
    border: 2px solid white;
    text-align: left;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    z-index: 300;
    cursor: default;
}

;
#manualJS {
    top: 0px;
    right: 10%;

}

#pdf_icon_js, #pdf_icon_m {
    position: absolute;

    top: 5%;
    right: 5%;
    cursor: pointer;

}

#manualMatlab {
    top: 5%;
    right: 5%;
    cursor: default;
}

#clickButtons, #radioButtons {
    float: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#restartImg {
    cursor: pointer;
}


#zhasinanie {
    width: 290px;
    float: right;
    margin: 15px;
}

#rozsvietenie {
    float: left;
    margin: 15px;
    width: 290px;
}

#buttons {
    width: auto;
    float: none;
}

/
/
button {
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

button {
    background: rgb(40, 40, 40);
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 1px;
    margin-bottom: 1px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    font-size: 12px;
    margin-left: 1px;
    margin-right: 0;
    line-height: 1.1em;
}

button:hover {
    background: #ec6818;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/*.tlacidlo{
    margin:10px;
}*/
/*
*/
#jsManual, #matlabManual {
/ / border: 2 px solid black;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
}

h4 {
    text-align: center;
}

#errVideo {
    color: red;
}
