.light-gray {
    background: #eaeaea;
}

body {
    color: #666;
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 400;
    line-height: 1.4em;
    margin-top: 0;
}

.navbar-inverse {
    background: #fff;
}

.navbar-default {
    border-color: rgba(192, 192, 192, 1);
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px 0;
}

.nav.navbar-nav a {
    font-family: 'Raleway', sans-serif;
}

.header-bg {
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

.particles-js {
    height: 400px;
}

.strong {
    font-weight: 700;
}

@media (max-width: 767px) {
    .translation-flags {
        list-style-type: none;
        width: 90px;
        float: right;
        position: absolute !important;
        top: 15px;
        right: 38px;
        left: 50%;
        margin-left: -90px;
        display: block !important;
    }

    .navbar-collapse {
        width: 100% !important;
    }
}

.navbar-collapse {
    width: 80%;
    float: left;
}

#bs-example-navbar-collapse-1 ul > li > a:hover, nav div.navbar-header > a:hover {
    color: orangered !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: lightgray;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333;
}

.navbar-header a.logo {
    position: relative;
}

.translation-flags {
    list-style-type: none;
    width: 90px;
    float: right;
    position: relative;
    top: 15px;
    right: 38px;
}

.navbar-vertical, .navbar-ex1-collapse {
    width: 100%;
}

.navbar-vertical li {
    display: block;
    width: 100%;
    border: 1px solid #E5E5E5;
}

.navbar-vertical li a::after {
    content: '\f054';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    font-size: 11px;
    float: right;
}

.translation-flags li a {
    padding-right: 0;
    padding-left: 5px;
    color: rgb(236, 104, 24);
}

.translation-flags li a:hover {
    text-decoration: none;
}

.translation-flags li {
    display: inline;
}

.translation-flags li a img:hover {
    -webkit-box-shadow: -1px 4px 7px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 7px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 4px 7px -3px rgba(0, 0, 0, 0.75);
}

header {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

header .header-logo {
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 5px solid white;
    opacity: 0.8;
}

footer {
    height: 100px;
    background: #333;
}

footer p {
    line-height: 60px;
    color: rgba(255, 255, 255, .25);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: center;
}

footer ul {
    margin: 0 auto;
    width: 100px;
}

footer ul li {
    display: inline;
}

footer i {
    color: lightgray;
}

footer .fa {
    font-size: 35px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/preloader.gif) center no-repeat #fff;
}

/*nav*/
.dropdown-submenu {
    position: relative;
}

.nav > li > a {
    text-transform: uppercase;
    display: block;
    line-height: 22px;
    color: #444 !important;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
}

.nav > li > a:hover {
    color: #EC6818 !important;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-ex1-collapse, .navbar-vertical {
    padding: 0;
}

.breadcrumb {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #E7ECF1;
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    padding-left: 75px;
}

.breadcrumb a {
    color: #EC6818;
}

.breadcrumb > li + li:before {
    content: "\f111";
    color: #aaa;
    font-family: FontAwesome;
    font-size: 5px;
    margin: 0 5px;
    position: relative;
    top: -3px;
    opacity: .4;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 170px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
}

.navbar-fixed-top {
    background-color: #FFF;
    min-height: 80px;
}

.navbar-fixed-top .navbar-nav > li > a,
.translation-flags li a {
    line-height: 48px;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

.navbar-nav > li > .dropdown-menu, .dropdown-submenu > .dropdown-menu {
    border-radius: 0;
}

.dropdown-menu > li > a {
    padding: 9px 20px;
}

.dropdown-menu {
    box-shadow: none;
    padding: 0 0;
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }

}

@media (min-width: 768px) {
    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }
}

.navbar-mini {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    min-height: 50px !important;
}

.navbar-mini .navbar-nav > li > a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    line-height: 30px;
}

.navbar-mini .navbar-brand {
    animation-name: logo-animation;
    animation-duration: 0.4s;
    top: -14px;
}

#content code {
    display: block;
    padding: 10px;
}

code {
    border-radius: 0;
    background: transparent;
}

#content td {
    padding: 5px 0;
}

#content tbody {
    border: 1px solid #cacaca;
}

#content table tr:nth-child(odd) {
    background-color: rgb(210, 210, 210);
}

#content table {
    margin: 0 auto 15px auto;
    border: 0;
}

#content table th {
    padding: 10px;
    border: 0px;
}

@keyframes logo-animation {
    0% {
        top: 0;
    }
    100% {
        top: -14px;
    }
}

@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
        transform: rotate(-90deg);
    }
}

#gotoTop {
    display: none;
    z-index: 299;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 2px;
}

.dropdown-menu a {
    font-family: 'Roboto', sans-serif !important;
}

#gotoTop:hover {
    background: #d65e16;
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
}

.stretched #gotoTop {
    bottom: 30px;
}

.featured-misc {
    position: absolute;
    bottom: 20px;
    margin: 0 0 0 10px;
}

.featured-misc a {
    color: #fff;
}

.featured-misc a:hover {
    text-decoration: none;
}

.featured-image img {
    width: 100%;
}

.featured-image {
    position: relative;
    opacity: 0.8;
}

.featured-image:hover {
    animation-name: featured;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.featured-date {
    color: whitesmoke;
}
.news-date {
    position: absolute;
    bottom: 0;
    left: 105px;
    width: 100%;
    font-style: italic;
}
.news {
    width: 100%;
    clear: both;
    display: inline-block;
    margin: 15px 0;
    position: relative;
}
.news-image {
    float: left;
}

.news-headline h3 {
    font-size: 15px;
    float: left;
    margin-left: 10px;
}

@keyframes featured {
    0% {
        opacity: 0.8;
    }
    70% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}